<h3><%= @country.name %></h3>
<div>

<% if @country.great_to_visit? %>
  <p>All seems well in <%=  @country.name %>, with a Human Development Index of <%= @country.hdi.hdi_value_2012 %>.
  </p>
<% elsif @country.ok_to_visit? %>
  <p><%= @country.name %> isn't doing so well, as you can tell by its Human Development Index of <%= @country.hdi.hdi_value_2012 %>.
  </p>
<% else %>
  <p><%= @country.name %> has a Human Development Index of <%= @country.hdi.hdi_value_2012 %>, maybe not the kind of place you want to be going...
  </p>
<% end %>

</div>


<p><%= link_to "Try another country", "/countries/new", class: 'button' %><p>